@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap');

body {
  padding: 0;
  margin: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  font-family: 'Space Mono', monospace;
}

@font-face {
  font-family: 'Space Mono';
  font-style: regular;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v12/i7dSIFZifjKcF5UAWdDRYERE_FeqHCSR.woff2) format('woff2');
}

.container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
  }

.para {
  margin: 0px 0px 10px 0px;
  font-size: 36px;
  text-shadow: 2px 2px rgba(0, 0, 255, .2);
}

.box {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px dotted black; */
  border-radius: 40px;
  padding: 0px 60px 0px 60px;
  background-color: white;
  margin: 0;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

#days {
  font-size: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  /* border: 1px solid black; */
}

/* body,
.para,
#days  {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
} */

#hms {
  margin-top: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /* font-weight: 500; */
}

@media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3) {
    .container {
      height: 60vh;
    }
    
    .para {
      font-size: 56px;
      font-family: 'Space Mono', monospace;
      font-weight: 700;
      font-style: italic;
    }
  
    #days {
      font-size: 160px;
      font-family: 'Space Mono', monospace;
      font-weight: 700;
      font-style: italic;
    }

    #hms {
      font-size: 40px;
      font-family: 'Courier New', Courier, monospace;
    }

  }

/* 2778x1284 pixels at 458ppi */
@media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) {
    .container {
      height: 60vh;
    }
    
    .para {
      font-size: 56px;
      font-family: 'Space Mono', monospace;
      font-weight: 700;
      font-style: italic;
    }
  
    #days {
      font-size: 160px;
      font-family: 'Space Mono', monospace;
      font-weight: 700;
      font-style: italic;
    }

    #hms {
      font-size: 40px;
      font-family: 'Courier New', Courier, monospace;
    }
  
  }

/* @media only screen and (max-width: 500px) {
    .para {
      font-size: 30px;
    }
    #days {
      font-size: 60px;
    }
  } */